<h1>Log in</h1>

<form action="/logins/create" method="post">
  <p> 
    Email:
    <input type="text" name="email">    
  </p>

  <p>
    Password
    <input type="text" name="password">
  </p>

  <input type="submit" value="Sign In">
</form>