<form action="logins/delete" method="post">
<input type="submit" value="LOGOUT">
</form>

<form action="/users/process_delete/<%= @user.id %>" method="post">
<input type="submit" value="delete">
</form>