<a href="/logins/delete">LOG OUT</a>
<br>

<h1>Type the changes you would like to make </h1>

<form action="/users/process_edit/<%= @user.id %>" method="post">
  <p> 
    Name:
    <input type="text" name="new_name">
  </p>

  <p>
    Email:
    <input type="text" name="new_email">    
  </p>

  <p>
    Password
    <input type="text" name="new_password">
  </p>

  <input type="submit">
</form>