<table border="1">
  <thead>
    <tr>    
      <th>List Name</th>
      <th>Assigned to</th>

    </tr>
  </thead>

  <tbody>
    <% @todos.each do |todo| %>
      <tr>      
        <td><%= todo.title %></td>
        <td><%= todo.assigned_to_id %></td>
     </tr>
    <% end %>
  </tbody>
</table>
<br>

<p>
  <a href="/todos/new">Create new ToDo List</a>
</p>