<p> Create your own ToDo list. </p>

<form action="/todos/create" method="post">
  <p> List Name: </p>
    <input type="text" name="title"><br>
  <p> Assigned To: </p>
    <input type="text" name="assigned_to_id"><br>    
  <p> Add things to do </p>
    <textarea row="8" cols="50" name="description">
      Stuff goes here...</textarea>
    <input type="submit">
</form>

Category:<br>

<select name="new_category_id">
 <% @categories.each do |c| %>
  <option value="<%= c.id %>"> <%= c.name %></option>
  <% end %>
</select>
<input type="submit">
</form>