<p>You may make changes to a Category below</p>

<form action="/categories/<%= @category.id%>/update" method="post">
  <input type="text" name ="new_name" value="<%= @category.name %>">

  <input type="submit" value="update">

</form>